 <div class="collection-section">
      <div class="sticky-filter">
        <div class="filter-heading_block">
          <div class="filter-heading_text">Filters</div>
          <div class="filter-reset_text">Reset</div>
          <div class="filter-close_holder"><svg class="menu-close_btn" xmlns="http://www.w3.org/2000/svg" width="100%" viewbox="0 0 19 19" fill="none">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M1.11987 17.8802C1.27947 18.0398 1.53823 18.0398 1.69782 17.8802L9.49996 10.0781L17.3023 17.8804C17.4619 18.04 17.7206 18.04 17.8802 17.8804C18.0398 17.7208 18.0398 17.4621 17.8802 17.3025L10.0779 9.50014L17.8804 1.69765C18.04 1.53805 18.04 1.27929 17.8804 1.1197C17.7208 0.960101 17.4621 0.960101 17.3025 1.1197L9.49996 8.92219L1.69765 1.11989C1.53805 0.960299 1.27929 0.960299 1.1197 1.1199C0.960101 1.27949 0.960101 1.53825 1.1197 1.69784L8.92201 9.50014L1.11987 17.3023C0.960276 17.4619 0.960276 17.7206 1.11987 17.8802Z" fill="currentColor"></path>
              <path d="M1.69782 17.8802L2.05138 18.2338H2.05138L1.69782 17.8802ZM1.11987 17.8802L1.47343 17.5267L1.47342 17.5267L1.11987 17.8802ZM9.49996 10.0781L9.85351 9.72453L9.49996 9.37098L9.14641 9.72453L9.49996 10.0781ZM17.3023 17.8804L17.6558 17.5269L17.3023 17.8804ZM17.8802 17.8804L18.2338 18.234L18.2338 18.234L17.8802 17.8804ZM17.8802 17.3025L18.2338 16.9489V16.9489L17.8802 17.3025ZM10.0779 9.50014L9.72436 9.14659L9.3708 9.50014L9.72436 9.85369L10.0779 9.50014ZM17.8804 1.69765L18.234 2.0512V2.0512L17.8804 1.69765ZM17.8804 1.1197L17.5269 1.47325L17.5269 1.47325L17.8804 1.1197ZM17.3025 1.1197L17.656 1.47325V1.47325L17.3025 1.1197ZM9.49996 8.92219L9.14641 9.27574L9.49996 9.6293L9.85351 9.27574L9.49996 8.92219ZM1.69765 1.11989L1.34409 1.47345L1.34409 1.47345L1.69765 1.11989ZM1.1197 1.1199L0.766144 0.766341L1.1197 1.1199ZM1.1197 1.69784L1.47325 1.34429L1.1197 1.69784ZM8.92201 9.50014L9.27556 9.85369L9.62912 9.50014L9.27556 9.14659L8.92201 9.50014ZM1.11987 17.3023L1.47342 17.6558H1.47343L1.11987 17.3023ZM1.34427 17.5267C1.37993 17.491 1.43776 17.491 1.47343 17.5267L0.766318 18.2338C1.12118 18.5886 1.69652 18.5886 2.05138 18.2338L1.34427 17.5267ZM9.14641 9.72453L1.34427 17.5267L2.05138 18.2338L9.85351 10.4316L9.14641 9.72453ZM17.6558 17.5269L9.85351 9.72453L9.14641 10.4316L16.9487 18.234L17.6558 17.5269ZM17.5267 17.5268C17.5624 17.4912 17.6202 17.4912 17.6558 17.5269L16.9487 18.234C17.3036 18.5888 17.8789 18.5888 18.2338 18.234L17.5267 17.5268ZM17.5267 17.656C17.491 17.6203 17.491 17.5625 17.5267 17.5269L18.2338 18.234C18.5887 17.8791 18.5887 17.3038 18.2338 16.9489L17.5267 17.656ZM9.72436 9.85369L17.5267 17.656L18.2338 16.9489L10.4315 9.14659L9.72436 9.85369ZM17.5269 1.34409L9.72436 9.14659L10.4315 9.85369L18.234 2.0512L17.5269 1.34409ZM17.5269 1.47325C17.4912 1.43759 17.4912 1.37976 17.5269 1.34409L18.234 2.0512C18.5888 1.69634 18.5888 1.121 18.234 0.766142L17.5269 1.47325ZM17.656 1.47325C17.6204 1.50892 17.5625 1.50892 17.5269 1.47325L18.234 0.766144C17.8791 0.411284 17.3038 0.411287 16.9489 0.766145L17.656 1.47325ZM9.85351 9.27574L17.656 1.47325L16.9489 0.766144L9.14641 8.56864L9.85351 9.27574ZM1.34409 1.47345L9.14641 9.27574L9.85351 8.56864L2.0512 0.766341L1.34409 1.47345ZM1.47325 1.47345C1.43758 1.50911 1.37976 1.50911 1.34409 1.47345L2.0512 0.766341C1.69634 0.411483 1.121 0.411484 0.766144 0.766341L1.47325 1.47345ZM1.47325 1.34429C1.50892 1.37996 1.50892 1.43778 1.47325 1.47345L0.766144 0.766341C0.411284 1.1212 0.411287 1.69654 0.766145 2.0514L1.47325 1.34429ZM9.27556 9.14659L1.47325 1.34429L0.766145 2.0514L8.56846 9.85369L9.27556 9.14659ZM1.47343 17.6558L9.27556 9.85369L8.56846 9.14659L0.766319 16.9487L1.47343 17.6558ZM1.47342 17.5267C1.50909 17.5623 1.50909 17.6201 1.47342 17.6558L0.76632 16.9487C0.41146 17.3036 0.41146 17.8789 0.76632 18.2338L1.47342 17.5267Z" fill="currentColor"></path>
            </svg></div>
        </div>
        <div class="accordion-filter_wrap">


       
        {%- for filter in collection.filters -%}


          {%- if filter.type contains "price_range" -%}

            <div class="accordion-filter">
              <div class="accordion-filter_top">
                <div class="fs-checkbox_label"> {{ filter.label | escape }}</div>
                <div class="toggle-holder">
                  <div class="filter-plus active w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 20 20" fill="none">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M9.98349 18.8841C10.1798 18.8841 10.3389 18.725 10.3389 18.5288L10.3389 10.3554L18.5136 10.3554C18.7099 10.3554 18.869 10.1963 18.869 10C18.869 9.80378 18.7099 9.64467 18.5136 9.64467L10.3389 9.64467L10.3389 1.47122C10.3389 1.27496 10.1798 1.11586 9.98349 1.11586C9.78722 1.11586 9.62812 1.27496 9.62812 1.47122L9.62812 9.64467L1.45609 9.64467C1.25983 9.64467 1.10073 9.80378 1.10073 10C1.10073 10.1963 1.25983 10.3554 1.45609 10.3554L9.62812 10.3554L9.62812 18.5288C9.62812 18.725 9.78723 18.8841 9.98349 18.8841Z" fill="#223E36"></path>
                      <path d="M10.3389 18.5288L9.83885 18.5288L9.83885 18.5288L10.3389 18.5288ZM9.98349 18.8841L9.98349 18.3841L9.98349 18.3841L9.98349 18.8841ZM10.3389 10.3554V9.8554L9.83885 9.8554V10.3554L10.3389 10.3554ZM18.5136 10.3554V10.8554V10.3554ZM18.869 10L19.369 10L19.369 10L18.869 10ZM18.5136 9.64467L18.5136 9.14467H18.5136V9.64467ZM10.3389 9.64467L9.83885 9.64467L9.83885 10.1447H10.3389V9.64467ZM10.3389 1.47122L10.8389 1.47122L10.8389 1.47122L10.3389 1.47122ZM9.98349 1.11586L9.98349 0.615858L9.98349 0.615858L9.98349 1.11586ZM9.62812 1.47122L9.12812 1.47122L9.12812 1.47122L9.62812 1.47122ZM9.62812 9.64467V10.1447H10.1281L10.1281 9.64467L9.62812 9.64467ZM1.45609 9.64467L1.45609 10.1447L1.45609 10.1447L1.45609 9.64467ZM1.10073 10L1.60073 10L1.10073 10ZM1.45609 10.3554L1.45609 10.8554L1.45609 10.8554L1.45609 10.3554ZM9.62812 10.3554L10.1281 10.3554L10.1281 9.8554H9.62812V10.3554ZM9.62812 18.5288L10.1281 18.5288L10.1281 18.5288L9.62812 18.5288ZM9.83885 18.5288C9.83885 18.4489 9.90361 18.3841 9.98349 18.3841L9.98349 19.3841C10.4559 19.3841 10.8389 19.0012 10.8389 18.5288L9.83885 18.5288ZM9.83885 10.3554L9.83885 18.5288L10.8389 18.5288L10.8389 10.3554H9.83885ZM18.5136 9.8554L10.3389 9.8554V10.8554L18.5136 10.8554V9.8554ZM18.369 10C18.369 9.92016 18.4338 9.8554 18.5136 9.8554V10.8554C18.9861 10.8554 19.369 10.4724 19.369 10L18.369 10ZM18.5136 10.1447C18.4338 10.1447 18.369 10.0799 18.369 10L19.369 10C19.369 9.52763 18.9861 9.14467 18.5136 9.14467L18.5136 10.1447ZM10.3389 10.1447L18.5136 10.1447V9.14467L10.3389 9.14467V10.1447ZM9.83885 1.47122L9.83885 9.64467H10.8389L10.8389 1.47122L9.83885 1.47122ZM9.98349 1.61586C9.90361 1.61586 9.83885 1.5511 9.83885 1.47122L10.8389 1.47122C10.8389 0.998818 10.4559 0.615858 9.98349 0.615858L9.98349 1.61586ZM10.1281 1.47122C10.1281 1.5511 10.0634 1.61586 9.98349 1.61586L9.98349 0.615858C9.51108 0.615859 9.12812 0.998817 9.12812 1.47122L10.1281 1.47122ZM10.1281 9.64467L10.1281 1.47122L9.12812 1.47122L9.12812 9.64467H10.1281ZM1.45609 10.1447L9.62812 10.1447V9.14467L1.45609 9.14467L1.45609 10.1447ZM1.60073 10C1.60073 10.0799 1.53597 10.1447 1.45609 10.1447L1.45609 9.14467C0.983685 9.14467 0.600725 9.52763 0.600725 10L1.60073 10ZM1.45609 9.8554C1.53597 9.8554 1.60073 9.92016 1.60073 10L0.600725 10C0.600725 10.4724 0.983684 10.8554 1.45609 10.8554L1.45609 9.8554ZM9.62812 9.8554L1.45609 9.8554L1.45609 10.8554L9.62812 10.8554V9.8554ZM10.1281 18.5288L10.1281 10.3554H9.12812L9.12812 18.5288L10.1281 18.5288ZM9.98349 18.3841C10.0634 18.3841 10.1281 18.4489 10.1281 18.5288L9.12812 18.5288C9.12812 19.0012 9.51108 19.3841 9.98349 19.3841L9.98349 18.3841Z" fill="currentColor"></path>
                    </svg></div>
                  <div class="filter-minus"></div>
                </div>
              </div>
              <div class="accordion-filter_bot align-vertical">
                <div class="filter-grid">

                <div class="price-renge-field">
              
                  <div class="slider">
                    <div class="progress"></div>
                  </div>
                  <div class="range-input">
                    <input type="range" class="range-min price__input filters__input_price" name="{{ filter.min_value.param_name }}"  min="0" max="200" value="35" step="1">
                    <input type="range" class="range-max price__input filters__input_price" name="{{ filter.max_value.param_name }}"  min="0" max="200" value="150" step="1">
                    
                  </div>
             
                </div>

                
                
                  <div class="drag-wrap">
                    {% comment %} <div class="drag-line">
                      <div class="drag-fill"></div>
                    </div> {% endcomment %}

                    <div class="drag-block min">
                      {% comment %} <div class="drag-btn">
                        <div class="drag-btn_line"></div>
                        <div class="drag-btn_line"></div>
                        <div class="drag-btn_line"></div>
                      </div> {% endcomment %}
                      <div class="price-block">
                        <div class="price-text">Min Price</div>
                        <div class="price-number price-number-min">35</div>
                      </div>
                    </div>
                    <div class="drag-block max">
                      {% comment %} <div class="drag-btn">
                        <div class="drag-btn_line"></div>
                        <div class="drag-btn_line"></div>
                        <div class="drag-btn_line"></div>
                      </div> {% endcomment %}
                      <div class="price-block">
                        <div class="price-text">Max Price</div>
                        <div class="price-number price-number-max">150</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          {%- else -%}
            
          <div class="accordion-filter">
            <div class="accordion-filter_top">
              <div class="fs-checkbox_label"> {{ filter.label | escape }}</div>
              <div class="toggle-holder">
                <div class="filter-plus active w-embed"><svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewbox="0 0 20 20" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M9.98349 18.8841C10.1798 18.8841 10.3389 18.725 10.3389 18.5288L10.3389 10.3554L18.5136 10.3554C18.7099 10.3554 18.869 10.1963 18.869 10C18.869 9.80378 18.7099 9.64467 18.5136 9.64467L10.3389 9.64467L10.3389 1.47122C10.3389 1.27496 10.1798 1.11586 9.98349 1.11586C9.78722 1.11586 9.62812 1.27496 9.62812 1.47122L9.62812 9.64467L1.45609 9.64467C1.25983 9.64467 1.10073 9.80378 1.10073 10C1.10073 10.1963 1.25983 10.3554 1.45609 10.3554L9.62812 10.3554L9.62812 18.5288C9.62812 18.725 9.78723 18.8841 9.98349 18.8841Z" fill="#223E36"></path>
                    <path d="M10.3389 18.5288L9.83885 18.5288L9.83885 18.5288L10.3389 18.5288ZM9.98349 18.8841L9.98349 18.3841L9.98349 18.3841L9.98349 18.8841ZM10.3389 10.3554V9.8554L9.83885 9.8554V10.3554L10.3389 10.3554ZM18.5136 10.3554V10.8554V10.3554ZM18.869 10L19.369 10L19.369 10L18.869 10ZM18.5136 9.64467L18.5136 9.14467H18.5136V9.64467ZM10.3389 9.64467L9.83885 9.64467L9.83885 10.1447H10.3389V9.64467ZM10.3389 1.47122L10.8389 1.47122L10.8389 1.47122L10.3389 1.47122ZM9.98349 1.11586L9.98349 0.615858L9.98349 0.615858L9.98349 1.11586ZM9.62812 1.47122L9.12812 1.47122L9.12812 1.47122L9.62812 1.47122ZM9.62812 9.64467V10.1447H10.1281L10.1281 9.64467L9.62812 9.64467ZM1.45609 9.64467L1.45609 10.1447L1.45609 10.1447L1.45609 9.64467ZM1.10073 10L1.60073 10L1.10073 10ZM1.45609 10.3554L1.45609 10.8554L1.45609 10.8554L1.45609 10.3554ZM9.62812 10.3554L10.1281 10.3554L10.1281 9.8554H9.62812V10.3554ZM9.62812 18.5288L10.1281 18.5288L10.1281 18.5288L9.62812 18.5288ZM9.83885 18.5288C9.83885 18.4489 9.90361 18.3841 9.98349 18.3841L9.98349 19.3841C10.4559 19.3841 10.8389 19.0012 10.8389 18.5288L9.83885 18.5288ZM9.83885 10.3554L9.83885 18.5288L10.8389 18.5288L10.8389 10.3554H9.83885ZM18.5136 9.8554L10.3389 9.8554V10.8554L18.5136 10.8554V9.8554ZM18.369 10C18.369 9.92016 18.4338 9.8554 18.5136 9.8554V10.8554C18.9861 10.8554 19.369 10.4724 19.369 10L18.369 10ZM18.5136 10.1447C18.4338 10.1447 18.369 10.0799 18.369 10L19.369 10C19.369 9.52763 18.9861 9.14467 18.5136 9.14467L18.5136 10.1447ZM10.3389 10.1447L18.5136 10.1447V9.14467L10.3389 9.14467V10.1447ZM9.83885 1.47122L9.83885 9.64467H10.8389L10.8389 1.47122L9.83885 1.47122ZM9.98349 1.61586C9.90361 1.61586 9.83885 1.5511 9.83885 1.47122L10.8389 1.47122C10.8389 0.998818 10.4559 0.615858 9.98349 0.615858L9.98349 1.61586ZM10.1281 1.47122C10.1281 1.5511 10.0634 1.61586 9.98349 1.61586L9.98349 0.615858C9.51108 0.615859 9.12812 0.998817 9.12812 1.47122L10.1281 1.47122ZM10.1281 9.64467L10.1281 1.47122L9.12812 1.47122L9.12812 9.64467H10.1281ZM1.45609 10.1447L9.62812 10.1447V9.14467L1.45609 9.14467L1.45609 10.1447ZM1.60073 10C1.60073 10.0799 1.53597 10.1447 1.45609 10.1447L1.45609 9.14467C0.983685 9.14467 0.600725 9.52763 0.600725 10L1.60073 10ZM1.45609 9.8554C1.53597 9.8554 1.60073 9.92016 1.60073 10L0.600725 10C0.600725 10.4724 0.983684 10.8554 1.45609 10.8554L1.45609 9.8554ZM9.62812 9.8554L1.45609 9.8554L1.45609 10.8554L9.62812 10.8554V9.8554ZM10.1281 18.5288L10.1281 10.3554H9.12812L9.12812 18.5288L10.1281 18.5288ZM9.98349 18.3841C10.0634 18.3841 10.1281 18.4489 10.1281 18.5288L9.12812 18.5288C9.12812 19.0012 9.51108 19.3841 9.98349 19.3841L9.98349 18.3841Z" fill="currentColor"></path>
                  </svg></div>
                <div class="filter-minus"></div>
              </div>
            </div>
            <div class="accordion-filter_bot">

            {%- assign col = "col-2" -%}
            {%- if filter.label contains "height" or filter.label contains "Height" -%}
                 {%- assign col = "col-3" -%}
            {%- endif -%}
              <div class="filter-grid {{ col }}">
                {%- for value in filter.values -%}
                <div class="filter-btn">
                  <input
                  type="hidden"
                  class="filters__input"
                  name="{{ value.param_name }}"
                  value="{{ value.value }}"
                  id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                  {% if value.active %}checked{% endif %}
                  {% if value.count == 0 and value.active == false %}disabled{% endif %}>

                  <div fs-cmsfilter-active="is-active-filter" fs-cmsfilter-field="{{ value.label }}" class="checkbox_label"      {% if value.count == 0 and value.active == false %}disabled{% endif %}>{{ value.label }}</div>
                </div>
              {%- endfor -%}
              
              </div>
            </div>
          </div>
            
          {%- endif -%}


          {%- endfor -%}

        
         
        </div>
      </div>
      <div class="collection-divider"></div>
      <div class="collection-result">
        <div class="results-top">
          <div class="result-number_text"> <span class="product-count">{{ collection.products.count }}</span> Results</div>
          <div class="collection-filter_btn">
            <div class="checkbox_label">Filters</div>
          </div>
          <div class="sort-btn">
            <div class="checkbox_label visually-hidden">Sort by:</div>
            <select name="sort_by" class="select__select filters__input" id="SortBy-mobile" aria-describedby="a11y-refresh-page-message">
              {%- for option in collection.sort_options -%}
                <option value="{{ option.value | escape }}"{% if option.value == sort_by %} selected="selected"{% endif %}>{{ option.name | escape }}</option>
              {%- endfor -%}
            </select>
          </div>
        </div>

        <div class="show-products"> 


        <div class="grid-col_two">
          {%- for product in collection.products limit: 2 -%}
            {%- render 'product-card', product: product -%}

        {%- endfor -%}
      
        </div>
        <div fs-cmsfilter-tagformat="category" fs-cmsload-element="list" fs-cmsfilter-element="list" class="grid-col_three">
          {%- for product in collection.products offset: 2 -%}
            {%- render 'product-card', product: product, column: 3 -%}
        {%- endfor -%}

        </div>

        </div>

        {%- if s.bottom_text  != blank -%}

          <div class="results-banner">
            <div>{{ s.bottom_text }}</div>
          </div>
          {%- else -%}
          <div class="results-banner">
            <div>{{ collection.description }}</div>
          </div>
          
        {%- endif -%}

        
    
      </div>
    </div>
